<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>assets</key>
			<array>
				<dict>
					<key>kind</key>
					<string>software-package</string>
					<key>url</key>
					<string>https://github.com/jiangzdongw/rlb.kh/releases/download/rlb-mobile-beta-1.0.0/rlb-mobile-beta-1.0.0.ipa</string>
				</dict>
			</array>
			<key>metadata</key>
			<dict>
				<key>bundle-identifier</key>
				<string>com.rlb.EBankRuiliT</string>
				<key>bundle-version</key>
				<string>1.0.0</string>
				<key>kind</key>
				<string>software</string>
				<key>title</key>
				<string>RLB MOBILE</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>

<!-- itms-services://?action=download-manifest&url=https://qny.hisprintgo.com/temp_20201105165632.plist -->
